 <!-- header -->
    <header>
        <nav class="nav-header">
            <a href="/"><img class="logo" src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt=""></a>
                <ul class="nav-links">
                    <li class="<%- title === 'Trang Chủ' ? 'active' : '' %>"><a data-page="home" href="/">Trang Chủ</a></li>
                    <li class="<%- title === 'Hệ Thống Rạp' ? 'active' : '' %>"><a data-page="contact"  href="/cinemas">Hệ Thống Rạp</a></li>
                    <li><a data-page="projects"  href="#">Lịch Chiếu</a></li>
                    <li><a data-page="contact"  href="#">Khuyến Mãi</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="nav-login">
                    <% if (currentUser) { %>
                        <div class="action">
                            <div onclick="menuNotify()" class="action__notify" id="notify_clicks">
                                <i  class="fad fa-bell"  id="notify_clicks" ></i>
                                <div class="action__notify-count"  id="notify_clicks" >
                                    <span id="notify_clicks">6</span>
                                </div>
                            </div>
                            <div class="__notify" id="menu__notify">
                                <div  class="notify_title" >
                                    <h4 style="color: #a6b2c9; padding: 10px; font-size: 20px; margin: 0;">Thông Báo</h4>
                                </div>
                                <ul class="notify_content" id="notify_content">
                                    <li class="notify_content-item">
                                        <div class="image_item">
                                            <img src="image/m-4.jpg" alt="">
                                        </div>
                                        <div class="item--content">
                                            <p>Iron Man 3</p>
                                            <span>Khởi chiếu ngày 20/3/2021 đặt vé ngay tại các rạp CGV trên toàn quốc</span>
                                        </div>
                                    </li>
                                    <li class="notify_content-item notify_content-item--view">
                                        <div class="image_item">
                                            <img src="image/m-4.jpg" alt="">
                                        </div>
                                        <div class="item--content">
                                            <p>Avancer End Game</p>
                                            <span>Khởi chiếu ngày 20/3/2021 đặt vé ngay tại các rạp CGV trên toàn quốc</span>
                                        </div>
                                    </li>
                                    <li class="notify_content-item">
                                        <div class="image_item">
                                            <img src="image/m-4.jpg" alt="">
                                        </div>
                                        <div class="item--content">
                                            <p>Avancer End Game</p>
                                            <span>Khởi chiếu ngày 20/3/2021 đặt vé ngay tại các rạp CGV trên toàn quốc</span>
                                        </div>
                                    </li>
                                    <li class="notify_content-item">
                                        <div class="image_item">
                                            <img src="image/m-4.jpg" alt="">
                                        </div>
                                        <div class="item--content">
                                            <p>Avancer End Game</p>
                                            <span>Khởi chiếu ngày 20/3/2021 đặt vé ngay tại các rạp CGV trên toàn quốc</span>
                                        </div>
                                    </li>
                                    <li class="notify_content-item">
                                        <div class="image_item">
                                            <img src="image/m-4.jpg" alt="">
                                        </div>
                                        <div class="item--content">
                                            <p>Avancer End Game</p>
                                            <span>Khởi chiếu ngày 20/3/2021 đặt vé ngay tại các rạp CGV trên toàn quốc</span>
                                        </div>
                                    </li>
                                    <li class="notify_content-item">
                                        <div class="image_item">
                                            <img src="image/m-4.jpg" alt="">
                                        </div>
                                        <div class="item--content">
                                            <p>Avancer End Game</p>
                                            <span>Khởi chiếu ngày 20/3/2021 đặt vé ngay tại các rạp CGV trên toàn quốc</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div onclick="menuDropMenuUser()" class="profile" id="profile_clicks" >
                                <img onerror="this.src='image/user-bg.png'" id="profile_clicks" class="avartar-user" src="">
                            </div>
                            <div class="menu" id="menu__profile">
                                <h3 id="profile_clicks"><%- currentUser.fullname %><br><span>Số dư :  <b style="color: #54ab35;">99.999.999 $</b></span></h3>
                                <ul>
                                    <li><i class="fal fa-user-circle"></i><a href="/prof/<%= currentUser.code %>">My Profile</a></li> 
                                    <li><i class="fal fa-cog"></i><a href="#">Settings</a></li>     
                                    <li><i class="fal fa-question-circle"></i><a href="#">Help</a></li>     
                                    <li><i class="fal fa-sign-out"></i><a href="/logout">Logout</a></li>     
                                </ul>
                            </div>
                        </div>
                    <% } else { %>
                    <a class="btn-dropmenu" style="color: aliceblue;" >Đăng Nhập</a>
                    <div class="dropdown_menu" >
                        <form id="form-login" method="POST" action="login" class="h-form-login" >
                            <div class="form-group">
                              <input id="email" type="email" name="email" class="input_text" placeholder="Email">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                              <input id="password" type="password" name="password" class="input_text" placeholder="Password">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-submit">
                                <button type="submit" style="background: #54ab35;" class="btn btn-success">Đăng Nhập</button>
                                <a class="btn-link">Quên mật khẩu?</a>  
                            </div>
                            <a class="btn btn-reg" style="color: white; background: #54ab35; font-weight: normal;" href="/reg">Đăng Ký Thành Viên</a>
                          </form>
                    </div>
                    <% } %>
                </div>
           
        </nav>
        <script type="text/javascript">
            // button click
            function menuDropMenuUser() {
                var divs = document.getElementById("menu__profile");
                divs.classList.toggle("active");
            }

            function menuNotify() {
                var divs = document.getElementById("menu__notify");
                divs.classList.toggle("active");
            }

            document.addEventListener('click', function (e) {
                var divs = document.getElementById("menu__notify");
                var divs_p = document.getElementById("menu__profile");
                if(!e.target.matches('#notify_clicks'))
                {
                    if(divs.classList.contains('active')){
                        divs.classList.remove('active');
                    }
                }
                if(!e.target.matches('#profile_clicks'))
                {
                    if(divs_p.classList.contains('active')){
                        divs_p.classList.remove('active');
                    }
                }
            })

            
        </script>
           <% if (currentUser) { %>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        $('.avartar-user').attr('src', `http://localhost:3000/prof/image/<%-currentUser.code%>`);
                    }) 
                        
                </script>
            <% } %>
        <script src="js/header.js"></script>
    </header>