 <!-- header --> 
    <header>
        <nav class="nav-header">
            <a href="/"><img class="logo" src="https://www.cgv.vn/skin/frontend/cgv/default/images/cgvlogo.png" alt=""></a>
                <ul class="nav-links">
                    <li class="<%- title === 'CGV Cinemas Việt Nam  &#8226; Trang Chủ' ? 'active' : '' %>"><a data-page="home" href="/">Trang Chủ</a></li>
                    <li class="<%- title === 'Hệ Thống Rạp' ? 'active' : '' %>"><a data-page="contact"  href="/cinemas">Hệ Thống Rạp</a></li>
                    <li class="<%- title === 'Lịch Chiếu' ? 'active' : '' %>"><a data-page="projects"  href="/showtimes">Lịch Chiếu</a></li>
                    <li><a data-page="contact"  href="#">Khuyến Mãi</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="nav-login">
                    <% if (currentUser) { %>
                        <div class="action">
                            <div class="action__notify" id="notify_clicks">
                                <i  class="fad fa-bell"  id="notify_clicks" ></i>
                                <div class="action__notify-count"  id="notify_clicks" >
                                </div>
                            </div>
                            <div class="__notify" id="menu__notify">
                                <div  class="notify_title" >
                                    <h4 style="color: #a6b2c9; padding: 10px; font-size: 20px; margin: 0; font-weight: 600;">Thông Báo</h4>
                                </div>
                                <ul class="notify_content" id="notify_content">
                                </ul>
                            </div>
                            <div onclick="menuDropMenuUser()" class="profile" id="profile_clicks" >
                                <img onerror="this.src='http://localhost:3000/image/user-bg.png'" class="avartar-user" src="">
                            </div>
                            <div class="menu" id="menu__profile">
                                <h3><%- currentUser.fullname %><br><span>Số dư :  <b style="color: #54ab35;"><%- currentUser.surplus.toLocaleString() %> E-coin</b></span></h3>
                                <ul>
                                    <li><i class="fal fa-user-circle"></i><a href="/prof/<%= currentUser.code %>">My Profile</a></li> 
                                    <li><i class="fal fa-cog"></i><a href="#">Settings</a></li>     
                                    <li><i class="fal fa-question-circle"></i><a href="#">Help</a></li>     
                                    <li><i class="fal fa-sign-out"></i><a href="/logout">Logout</a></li>     
                                </ul>
                            </div>
                        </div>
                    <% } else { %>
                    <%- title === 'Movies Details' ? '' : '<a class="btn-dropmenu" style="color: aliceblue;" >Đăng Nhập</a>' %>
                    <div class="dropdown_menu" id="dropdown_menu">
                        <form id="form-login" method="POST" action="login" class="h-form-login" >
                            <div class="form-group">
                              <input id="email" type="email" name="email" class="input_text" placeholder="Email">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                              <input id="password" type="password" name="password" class="input_text" placeholder="Password">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-submit">
                                <button type="submit" style="background: #54ab35;" class="btn btn-success">Đăng Nhập</button>
                                <a class="btn-link">Quên mật khẩu?</a>  
                            </div>
                            <a class="btn btn-reg" style="color: white; background: #54ab35; font-weight: normal;" href="/reg">Đăng Ký Thành Viên</a>
                          </form>
                    </div>
                    <% } %>
                </div>
           
        </nav>
        <script src="js/toastmesage.js"></script>
        <script src="js/validateform.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
           <% if (currentUser) { %>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        $('.avartar-user').attr('src', `http://localhost:3000/prof/image/<%-currentUser.code%>`);
                        var countNoti = document.querySelector('.action__notify-count');
                        var contetnNoti = document.querySelector('#notify_content');

                        getNotification(renderNotification);
                        function getNotification(callback) {
                            fetch('http://localhost:3000/api/notification/<%- currentUser.code %>')
                            .then(function(response) {
                                return response.json();
                            })
                            .then(callback)
                            .catch(function(err){
                                console.log(err);
                            });
                        }

                        function renderNotification(result)
                        {
                            
                            var htmls = '';
                            let count = 0;
                            result.map(function(db) {
                                if(db.status === 0)
                                    count += 1;
                                
                                
                            })

                            if(count <= 0)
                            {
                                $(countNoti).css('display', 'none');
                            }
                            else if(count < 10)
                            {
                                countNoti.innerHTML = `<span id="notify_clicks">${count}</span>`;
                            }
                            else {
                                countNoti.innerHTML = `<span id="notify_clicks">9+</span>`;
                            }
                            result.map(function(data) {

                                var momentTime = moment(data.time).locale('vi').fromNow();

                                if(data.type === 'wellcome')
                                {
                                    if(data.status === 0)
                                    {
                                        htmls += `<li class="notify_content-item" uuid="${data.uuid}">
                                                <div class="image_item">
                                                    <img src="${data.linkimg}" alt="" style="width: 60px;
                                                                                        height: 60px;
                                                                                        object-fit: contain;
                                                                                        border-radius: 50%;">
                                                </div>
                                                <div class="item--content"> 
                                                    <div>
                                                        <p>Chào mừng <span>${data.messbold}</span> đã đến với CGV. Bây giờ bạn có thể đặt vé cho bộ phim mình yêu thích. Chúc bạn có những giây phút xem phim vui vẻ &#9829;
                                                    </p>
                                                    </div>
                                                    <div class="notificatio__time">
                                                        ${momentTime}
                                                    </div>
                                                </div>
                                        </li>`;
                                    }
                                    else
                                    {
                                        htmls += `<li class="notify_content-item view" uuid="${data.uuid}">
                                                <div class="image_item">
                                                    <img src="${data.linkimg}" alt="" style="width: 60px;
                                                                                        height: 60px;
                                                                                        object-fit: contain;
                                                                                        border-radius: 50%;">
                                                </div>
                                                <div class="item--content"> 
                                                    <div>
                                                        <p>Chào mừng <span>${data.messbold}</span> đã đến với CGV. Bây giờ bạn có thể đặt vé cho bộ phim mình yêu thích. Chúc bạn có những giây phút xem phim vui vẻ &#9829;
                                                    </p>
                                                    </div>
                                                    <div class="notificatio__time">
                                                        ${momentTime}
                                                    </div>
                                                </div>
                                        </li>`;
                                    }
                                    
                                }
                            })
                            contetnNoti.innerHTML = htmls;
                        }

                        $('#profile_clicks').click(function() {
                            var divs = document.getElementById("menu__profile");
                            divs.classList.toggle("active");
                        })

                        $('.action__notify').click(function() {
                            var divs = document.getElementById("menu__notify");
                            divs.classList.toggle("active");

                            if($('.__notify').hasClass('active'))
                            {
                                $('.action__notify-count').css('display', 'none');
                                var data = {
                                    iduser: '<%- currentUser?.code %>',
                                    status: 0,
                                };

                                var options = {
                                    method: 'POST', // or 'PUT'
                                    headers: {
                                    'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify(data),
                                }

                                fetch('http://localhost:3000/api/notification/<%-currentUser.code%>', options)
                                    .then(function(response) {
                                        return response.json();
                                    })
                                    .then(function(result) {
                                        if(result === true)
                                        {
                                            getNotification(renderNotification);
                                        }
                                    })
                                    .catch(function(err) {
                                        console.log(err);
                                    })
                            }
                        })

                        window.onclick = function (event) { 
                            if(!$(event.target).closest('.action__notify').length) {
                                if(!$(event.target).closest('.__notify').length) {
                                    document.querySelector('.__notify').classList.remove('active');
                                }
                            }
                            if(!$(event.target).closest('.profile').length) {
                                if(!$(event.target).closest('.menu').length) {
                                    document.querySelector('.menu').classList.remove('active');
                                }
                            }
                        }
                    });

                </script>
            <% } else { %>
                <script>
                    window.onclick = function (event) {
                        if(!event.target.matches('.btn-dropmenu')) {
                            if(!$(event.target).closest('.dropdown_menu').length) {
                                document.querySelector('.h-form-login').classList.remove('active');
                            }
                        }
                    }

                document.addEventListener('DOMContentLoaded', function () {
                Validator ({
                   form: '#form-login',
                   formGroupSelector: '.form-group',
                   errorSelector: '.form-message',
                   rules: [
                       Validator.isRequired('#email', 'Email không được trống!'),
                       Validator.isEmail('#email'),
                       Validator.isRequired('#password', 'Mật khẩu không được trống!'),
                       Validator.minLength('#password', 8),
                   ],
                   onSubmit: function (data) { 
                       var options = {
                           method: 'POST', // or 'PUT'
                           headers: {
                           'Content-Type': 'application/json',
                           },
                           body: JSON.stringify(data),
                       }

                       fetch(`http://localhost:3000/login`, options)
                           .then(function(response) {
                               return response.json();
                           })
                           .then(function(result) {
                               if(result === true)
                               {
                                   location.reload();
                               }
                               else{
                                   toast({
                                       title: result.title_toast,
                                       message: result.message,
                                       type: result.type,
                                       duration: 3000
                                   });
                               }
                           })
                           .catch(function(err){
                               console.log(err);
                           });
                       }
                   });
               
               });
                </script>
            <% } %>
        <script src="js/header.js"></script>
       
    </header>