 <!-- header -->
    <header>
        <nav class="nav-header">
            <a href="/"><img class="logo" src="image/icon-bg.png" alt=""></a>
                <ul class="nav-links">
                    <li class="<%- title === 'Trang Chủ' ? 'active' : '' %>"><a data-page="home" href="/" >Trang Chủ</a></li>
                    <li><a data-page="contact"  href="#">Cụm Rạp</a></li>
                    <li><a data-page="projects"  href="#">Lịch Chiếu</a></li>
                    <li><a data-page="contact"  href="#">Khuyến Mãi</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <div class="nav-login">
                  <% if (currentUser) { %>
                    
                   <% } else { %>
                    <a class="btn-dropmenu" style="color: aliceblue;" >Đăng Nhập</a>
                    <div class="dropdown_menu" >
                        <form id="form-login" method="POST" action="login" class="h-form-login" >
                            <div class="form-group">
                              <input id="email" type="email" name="email" class="input_text" placeholder="Email">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                              <input id="password" type="password" name="password" class="input_text" placeholder="Password">
                              <span class="form-message"></span>
                            </div>
                            <div class="form-submit">
                                <button type="submit" style="background: #54ab35;" class="btn btn-success">Đăng Nhập</button>
                                <a class="btn-link">Quên mật khẩu?</a>  
                            </div>
                            <a class="btn btn-reg" style="color: white; background: #54ab35; font-weight: normal;" href="/reg">Đăng Ký Thành Viên</a>
                          </form>
                    </div>
                    <% } %>
                </div>
        </nav>
        <script src="js/header.js"></script>
        <script src="js/toastmesage.js"></script>
        <script src="js/validateform.js"></script>
        <script>
            var error = `<%- error %>`;
            document.addEventListener('DOMContentLoaded', function () {

                Validator ({
                    form: '#form-login',
                    formGroupSelector: '.form-group',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#email', 'Email không được trống!'),
                        Validator.isEmail('#email'),
                        Validator.isRequired('#password', 'Mật khẩu không được trống!'),
                        Validator.minLength('#password', 8),
                    ]
                    });

                    if(error === 'false')
                    {
                        toast({
                            title: `<%- title %>`,
                            message: `<%- message %>`,
                            type: `<%- type %>`,
                            duration: 3000
                        });
                    }
                    if(error === 'true')
                    {
                        toast({
                            title: `<%- title %>`,
                            message: `<%- message %>`,
                            type: `<%- type %>`,
                            duration: 3000
                        });
                    }
                });
              
        </script>
    </header>