<section class="bookings">
  <div class="steps__processbar">
    <form id="form1">
      <h3>Booking Online</h3>
      <div class="container">
        <div class="booking__top-content">
          <div class="top-content__poster">
            <img src="http://localhost:3000/api/image/<%- data.movie.movieId %>/1" alt="">
          </div>
          <ul class="group__info-film">
            <li class="group-film"> 
                <label class="group__title" for="">Movie's name </label>
                <span style="color: #e71a0f; text-transform: uppercase;"><%- data.movie.movieName %></span>
            </li>
            <li class="group-film"> 
                <label class="group__title" for="">Cinama</label>
                <span><%- data.cinema.nameCinema %></span>
            </li>
            <li class="group-film"> 
                <label class="group__title" for="">Movie Genre</label>
                <span><%- data.movie.category %></span>
            </li>
            <li class="group-film"> 
                <label class="group__title" for="">Movie Duration</label>
                <span><%- data.movie.time %> minutes</span>
            </li>
            <li class="group-film"> 
                <label class="group__title" for="">Language</label>
                <span>Vietnamese subtitles</span>
            </li>
            <li class="group-film"> 
              <label class="group__title" for="">Show time</label>
              <span><%- data.showtime.time %></span>
            </li>
            <li class="group-film"> 
              <label class="group__title" for="">Seating</label>
              <span>(<%- data.cinema.chooseSeats %>/<%- data.cinema.totalSeats %>)</span>
            </li>
            <li class="group-film"> 
              <label class="group__title" for="">Fare</label>
              <span><%- data.showtime.fare.replace(/\B(?=(\d{3})+(?!\d))/g, '.') %> đ</span>
            </li>
          </ul>
        </div>
        <div class="booking__option">
          <h3 class="option__title">Options</h3>
          <div class="option__info">
            <label>Number of Seats</label>
            <div class="option__info-numberic">
              <span class="next" onclick="nexNum()"></span>
              <span class="prev" onclick="prevNum()"></span>
              <div id="box">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a type="button" id="next1" style="color: #fff;">Next</a>
      </div>
    </form>
    <form id="form2">
      <div class="container">
        <div class="booking_by_step" style="width: 100%">
          <div class="booking__step">
            <div class="screen"></div>
            <div class="seats__choose">
              <span>Số ghế đã chọn <span style="color: #54ab35;" id="choose__seats">0</span>/<span id="total__seats" style="color: #a6b2c9;"></span></span>
            </div>
            <div class="list__row">
            </div>
          </div>
          <div class="ticketbox-notice">
            <div class="iconlist">
              <div class="icon"><i class="fad fa-medal"></i> Vị trí thích hợp (Dãy F -> J)</div> 
              <div class="icon"><i class="fad fa-loveseat"></i> Trống</div> 
              <div class="icon occupied"><i class="fad fa-loveseat"></i> Đã chọn</div>
              <div class="icon unavailable"><i class="fad fa-loveseat"></i> Không thể chọn</div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a type="button" id="back1" style="color: #fff;">Previous</a>
        <a type="button" id="next2" style="color: #fff;">Next</a>
      </div>
    </form>
  
    <form id="form3">
      <div class="container">
        <div class="booking__content-info">
         <h4 class="info__price">0 đ</h4>
         <hr style="background: rgba(255,255,255,0.2);">
         <div class="info__seats">
           <p>Ghế:</p>
           <div class="id_seats">
           </div>
         </div>
         <hr style="background: rgba(255,255,255,0.2); margin-top: 0;">
         <div class="info__customer">
            <div class="if-group">
              <label>E-mail</label>
              <p><%- data.user.email %></p>
            </div>
           
            <div class="if-group">
              <label>Phone</label>
              <p><%- data.user.numberphone %></p>
            </div>
         </div>
         <hr style="background: rgba(255,255,255,0.2); margin-top: 0;">
         <div class="info__promotion">
            <div class="if-group">
              <label style="margin-bottom: 0.1rem; font-weight: bold;">Mã giảm giá</label>
              <div class="input-text">
                <input id="promotion" name="promotion" type="text" class="input" placeholder="Nhập tại đây...">
                <span class="form-message"></span>
              </div>
            </div>
            <a class="btn btn-success" style="color: #fff;">Áp dụng</a>
         </div>
         <hr style="background: rgba(255,255,255,0.2); margin-top: 0;">
         <div class="info__payments">
           <h5>Hình thức thanh toán</h5>
           <ul class="payments__options">
            <li class="option_item">
              <div class="info__button" style="display: flex; justify-content: center; flex-direction: column; width: 100%;">
                <a class="btn__bookings btn btn-warning" style="margin-bottom: 15px;
                                                                width: 100%;
                                                                height: 55px;
                                                                display: flex;
                                                                justify-content: center;
                                                                align-items: center;
                                                                font-size: 20px;
                                                                font-weight: 600;
                                                                color: #ffffff;" >Thanh toán bằng E-coin</a>
              </div>
            </li>
             <li class="option_item">
              <div class="info__button" style="display: flex; justify-content: center; flex-direction: column; width: 100%;">
                <div id="btn__paypal"></div>
              </div>
             </li>
           </ul>
         </div>
         <div class="option__bottom">
            <hr style="background: rgba(255,255,255,0.2); margin: 10px 10px;">
            <div class="info__footer">
              <p style="text-align: center;">Vé đã mua <strong style="color: #e45757;">không thể thay đổi</strong> hoặc <strong style="color: #e45757;">hoàn tiền</strong>. <br>Mã vé sẽ được gửi qua tin nhắn <strong style="color: #54ab35;">SMS</strong> và  <strong style="color: #54ab35;">Email</strong> của bạn</p>
            </div>
         </div>
      </div>
      </div>
  
      <div class="btn-box">
        <a type="button" id="back2" style="color: #fff;">Previous</a>
      </div>
    </form>

    <form id="form4">
      <div class="container">
        <div class="container__noti">
          <h3>Thanh Toán Thành Công!</h3>
          <i class="fad fa-check-circle" style="color: #8eff66; font-size: 200px;"></i>
          <a class="btn btn-success" href="http://localhost:3000/" style="margin-top: 50px;">GO HOME</a>
        </div>
      </div>
    </form>
  
      <div class="step-row">
        <div id="progress"></div>
        <div class="step-col"><small>Movie Details</small></div>
        <div class="step-col"></i><small>Book Tickets</small></div>
        <div class="step-col"></i><small>Payment</small></div>
        <div class="step-col"></i><small>Completed</small></div>
      </div>
   
      <style>
        .modal-header, .modal-body, .modal-footer {
              padding:9px 15px;
              border-bottom: 1px solid #54ab35;
              background-color: #121825;
              color: #a6b2c9;
              -webkit-border-top-left-radius: 5px;
              -webkit-border-top-right-radius: 5px;
              -moz-border-radius-topleft: 5px;
              -moz-border-radius-topright: 5px;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
          }
  
          .modal-footer {
            border-top: none;
          }
  
          .modal-content {
            border: none;
            background-color: transparent;
          }
  
      </style>

<div class="modal__pay modal fade" id="modal__pay" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Số dư hiện tại: <span style="color: #54ab35;"><%= currentUser.surplus.toLocaleString() %> </span> E-coin</h5>
        <div type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #e45757;"  >&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <h4 style="text-align: center;">Thanh Toán E-Coin</h4>
        <hr style="background: #a6b2c9; margin: 10px 10px;">
        <div class="surplus__content">
          <h4>Total Price:  <span></span> đ</h4>
          <div class="content__seats">
            <strong>Ghế </strong>
            <div class="seats" style="margin-left: 20px;"></div>
          </div>
        </div>
        <hr style="background: #a6b2c9; margin: 10px 10px;">
        <ul class="modal__surplus">
          <li class="group_surplus">
              <label class="surplus__title">Số dư E-coin:</label>
              <p style="margin-bottom: 0;"><span  style="color: #54ab35;"><%= currentUser.surplus.toLocaleString() %></span> E-coin</p>
          </li>
          <li class="group_surplus">
            <label class="surplus__title">số E-coin thanh toán: </label>
            <span class="total" style="color: #54ab35;"></span><span style="margin-left: 5px;"> E-coin</span>
          </li>
          <li class="group_surplus">
            <label class="surplus__title">Số dư còn lại: </label>
            <span class="cash_in" style="color: #54ab35;"></span><span style="margin-left: 5px;"> E-coin</span>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-pay__ecoin btn btn-primary">Thanh Toán</button>
      </div>
    </div>
  </div>
</div>
  </div>
</section>
<script src="js/toastmesage.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AdRmZZwPeYgcSZpQizFoFWFsCpDsGiIvBjUKIsy-VTPqGFYvf8NZvpD5nMS81KReLxdqVH0LvUjZtzPm&disable-funding=credit,card"></script>
<script>
  //API
  var array_seats = [];

  document.addEventListener('DOMContentLoaded', (event) => {
      getMap(renderMapCinema);
      initPaypal();
      const btnLoader = document.querySelector('.section-loader');

      var form1 = document.getElementById('form1');
      var form2 = document.getElementById('form2');
      var form3 = document.getElementById('form3');
      var form4 = document.getElementById('form4');
  
      var next1 = document.getElementById('next1');
      var next2 = document.getElementById('next2');
      var back1 = document.getElementById('back1');
      var back2 = document.getElementById('back2');
  
      var progress = document.getElementById('progress');
      let widthScreen =  screen.width;
      let pgress = 0;

      console.log($(window).offsetWidth);

      if(widthScreen === 375) 
      {
        pgress = 80;
      }
      else
      {
        pgress = 200;
      }

      next1.onclick = function() {
        
        form1.style.left = "-100%";
        form2.style.left = "0%";
        progress.style.width = (pgress * 2 + 20) + 'px';
        var index = document.querySelector('#box .show').textContent;
        $('#total__seats').text(index);
      }
      back1.onclick = function() {
        form1.style.left = "0%";
        form2.style.left = "100%";
        progress.style.width =  (pgress) + 'px';
      }
      next2.onclick = function() {
        var index = document.querySelector('#box .show').textContent;
        if(array_seats.length < index) {
          toast({
               title: `Warning!`, 
               message: `Bạn đã đặt <span style="font-size: 14px; font-weight: bold; color: #e45757;">${array_seats.length}/${index}</span> tổng ghế ! Còn <span style="font-size: 14px; font-weight: bold; color: #e45757;">${(index - array_seats.length)}</span> ghế chưa chọn. . !`,
               type: `warning`,
               duration: 4500
           });
        }
        else
        {
          form2.style.left = "-100%";
          form3.style.left = "0%";
          progress.style.width = (pgress * 3 + 20) + 'px';
        }
      }
      back2.onclick = function() {
        form2.style.left = "0%";
        form3.style.left = "100%";
        progress.style.width = (pgress * 2 + 20) + 'px';
      }

      function initPaypal() {
        
        paypal.Buttons({

          createOrder:function(data, actions) {
            let total = ($('.group_surplus .total').text().replaceAll('.', '').replaceAll(' ','') / 22000).toFixed(2);
            if(total === '0.00')
            {
              toast({
                  title: 'Notification!',
                  message: 'Không có gì để thanh toán!',
                  type: 'info',
                  duration: 3000
              });
            }
            else
            {
              return actions.order.create({
                purchase_units: [{  
                  amount: {
                    value: `${total}`
                  }
                }]
              })
            }
          },

          onApprove:function(data, actions) {
            return actions.order.capture().then(function(details){
              if(details.status === 'COMPLETED') {
                var today = new Date();
                var idBooking = uuidv4();

                var objectData = {
                  idUser: '<%- currentUser.code %>',
                  idMovie: '<%- data?.movie?.movieId %>',
                  idShowtime: '<%- data?.showtime?.idshow %>',
                  idCinema: '<%- data?.cinema?.idCinema %>',
                  idBooking: idBooking,
                  timeBooking: today,
                  showtime: '<%- data?.showtime?.time %>',
                  totalPrice: $('.group_surplus .total').text().replaceAll('.', '').replaceAll(' ',''),
                  arrSeats: $('.seats span').text().split(/(?:,| )+/).filter(n => n),
                  fare: '<%- data?.showtime?.fare %>',
                }

                var options = {
                      method: 'POST', // or 'PUT'
                      headers: {
                      'Content-Type': 'application/json',
                      },
                      body: JSON.stringify(objectData),
                  }  

                  fetch('http://localhost:3000/bookings/bookings-payments', options)
                  .then(function(response) {
                      return response.json();
                  })
                  .then(function(result) {
                      if(result === true)
                      {
                        getMap(renderMapCinema);
                        toast({
                              title: 'Successfully!',
                              message: 'Đặt vé thành công!',
                              type: 'success',
                              duration: 3000
                          });
                        form3.style.left = "-100%";
                        form4.style.left = "0%";
                        progress.style.width = "800px";
                      }
                      else{
                        getMap(renderMapCinema);
                        toast({
                              title: 'Expensive Tickets Fail!',
                              message: 'Xin lỗi bạn! Vị trí bạn chọn đã có người đặt! vui lòng chọn lại ví trí...',
                              type: 'warning',
                              duration: 4000
                        });
                      }
                  })
                  .catch(function(err){
                      console.log(err);
                  });
              }
            })
          },
          onCancel:function(data){
            console.log("failed payments");
          }
        }).render('#btn__paypal');
      }
      
      

      $('.booking__content-info h4').change(function() {
        alert( "Handler for .change() called." );
      })
     
      $('.btn__bookings').click(function() {
        var index = document.querySelector('#box .show').textContent;
        if(array_seats.length < index) {
          toast({
               title: `Warning!`, 
               message: `Bạn đã đặt <span style="font-size: 14px; font-weight: bold; color: #e45757;">${array_seats.length}/${index}</span> tổng ghế ! Còn <span style="font-size: 14px; font-weight: bold; color: #e45757;">${(index - array_seats.length)}</span> ghế chưa chọn. . !`,
               type: `warning`,
               duration: 4500
           });
        }
        else
        { 
          $(this).attr('data-toggle', 'modal');
          $(this).attr('data-target', '#modal__pay');
        }
      })

      $('.btn-pay__ecoin').one('click', function() {
        var today = new Date();
        var idBooking = uuidv4();
        var cashIn = $('.group_surplus .cash_in').text().replace('.', '');
        var objectData = {
          idUser: '<%- currentUser.code %>',
          idMovie: '<%- data?.movie?.movieId %>',
          idShowtime: '<%- data?.showtime?.idshow %>',
          idCinema: '<%- data?.cinema?.idCinema %>',
          idBooking: idBooking,
          timeBooking: today,
          showtime: '<%- data?.showtime?.time %>',
          totalPrice: $('.group_surplus .total').text().replaceAll('.', '').replaceAll(' ',''),
          arrSeats: $('.seats span').text().split(/(?:,| )+/).filter(n => n),
          fare: '<%- data?.showtime?.fare %>',
        }

        if(cashIn < 0) {
          toast({
              title: 'Warning!',
              message: 'E-coin không đủ để thanh toán! Bạn cần nạp E-coin đủ để thanh toán...',
              type: 'warning',
              duration: 3000
          });
        }
        else
        {
          var options = {
                    method: 'POST', // or 'PUT'
                    headers: {
                    'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(objectData),
                }   
          fetch('http://localhost:3000/bookings/bookings-payments', options)
            .then(function(response) {
                return response.json();
            })
            .then(function(result) {
                if(result === true)
                {
                  getMap(renderMapCinema);
                  toast({
                        title: 'Successfully!',
                        message: 'Đặt vé thành công!',
                        type: 'success',
                        duration: 3000
                    });
                    $('.modal__pay').css('display', 'none');
                    $('.modal-backdrop.show').css('display', 'none');
                    setInterval(function(){ 
                      form3.style.left = "-100%";
                      form4.style.left = "0%";
                      progress.style.width = "800px";
                    }, 2000);
                }
                else{
                      getMap(renderMapCinema);
                      toast({
                            title: 'Expensive Tickets Fail!',
                            message: 'Xin lỗi quý khách! 1 trong số vị trí bạn chọn đã có người đặt! vui lòng chọn lại ví trị...',
                            type: 'warning',
                            duration: 4000
                      });
                  
                  }
            })
            .catch(function(err){
                console.log(err);
            });
          }
      })
  });

  function uuidv4() {
        return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        )
    }

  function getMap(callback) {
      var url = window.location.href;
      var arrayUrl = url.split('?');
      var urlApi = `http://localhost:3000/bookings/api/bookingstep?${arrayUrl[1]}`;
        fetch(urlApi)
        .then(function(response) {
            return response.json();
        })
        .then(callback)
        .catch(function(err){
            console.log(err);
        });
      }

  function renderMapCinema(result) {
    var htmls = '';
    var arrayChar = charList('A', 'Z');
    for ( var i=0; i < result.sizeHorizontal; i++ ) {
      var html = '';
      html += `<div class="row_name">${arrayChar[i]}</div>`
      var html_seats = '';
      for ( var j=0; j < result.sizeVertical; j++ ) { 
          var idSeats = arrayChar[i] + (i + j);
          var checkSeat = result.selectedSeat.filter(s => s === idSeats);
          if(checkSeat.length > 0)
          {
            html_seats += `<div id="seat" class="seat occupied" value="${idSeats}"><i class="fad fa-loveseat"></i></div>`;
          }
          else
          {
            html_seats += `<div id="seat" class="seat" value="${idSeats}"><i class="fad fa-loveseat"></i></div>`;
          }
      }
      htmls += `<div class="row"> 
            ${html}
            ${html_seats}
        </div>`
    }
    var listRow = document.querySelector('.list__row');
    listRow.innerHTML = htmls;

  
    var list_id_seats = document.querySelector('.id_seats');
    var list_seats_modal = document.querySelector('.content__seats .seats');
      $('.seat').click(function()
      {
        $('#choose__seats').text(array_seats.length + 1);  
        var index = document.querySelector('#box .show').textContent;
        if(array_seats.length < index) {
          $(this).toggleClass('selected');
          var item = $(this).filter('.selected');
          if(item.length > 0)
          {
            if(array_seats.length < index)
              array_seats.push($(item).attr('value'));
          }
          else {
            var index = array_seats.indexOf($(this).attr('value'));
            if(index > -1) 
            {
              array_seats.splice(index, 1);
            }
          }
        }
        else {
          var index = array_seats.indexOf($(this).attr('value'));
          if(index > -1) 
          {
            array_seats.splice(index, 1);
            $(this).toggleClass('selected');
            $('#choose__seats').text(array_seats.length);  
          }
          else
          {
            $('#choose__seats').text(array_seats.length);  
            toast({
                title: `Notification!`,
                message: `Bạn đã chọn tối đa <span style="font-size: 14px; font-weight: bold; color: #4c6ef5;">${array_seats.length}</span> số ghế! Xin vui lòng <span style="font-size: 14px; font-weight: bold; color: #4c6ef5;">mở rộng</span> số lượng ghế để tiếp tục hoặc <span style="font-size: 14px; font-weight: bold; color: #4c6ef5;">thanh toán</span> !!!`,
                type: `info`,
                duration: 4500
            });
          }
        }
        var htmls = ``;
        array_seats.forEach(item => {
          htmls+= `<span> ${item} , </span>`
        });
        
        list_id_seats.innerHTML = htmls;
        list_seats_modal.innerHTML = htmls;
        let TotalPrice = result.fare * array_seats.length;
        let cashIn = '<%= currentUser?.surplus %>' - TotalPrice;
        document.querySelector('.info__price').textContent = TotalPrice.toLocaleString() + " đ";
        document.querySelector('.surplus__content h4 span').textContent = TotalPrice.toLocaleString();
        document.querySelector('.group_surplus .total').textContent = TotalPrice.toLocaleString() + " ";
        document.querySelector('.group_surplus .cash_in').textContent = cashIn.toLocaleString() + " ";
      });

      $('.btn-selected').click(function() {
        $('.booking__content').css('display', 'flex');
        $('html, body').animate({scrollTop: 630}, 'slow');

        console.log(document.querySelector('#box .show').textContent)
      })
  }

  var charList = (a,z,d=1)=>(a=a.charCodeAt(),z=z.charCodeAt(),[...Array(Math.floor((z-a)/d)+1)].map((_,i)=>String.fromCharCode(a+i*d)));
  var numbers = document.getElementById('box');
  for(i=1;i<=50;i++)
  {
    var span = document.createElement('span');
    span.textContent = i;
    numbers.appendChild(span);
  }

  var num = numbers.getElementsByTagName('span');
  $(num[0]).addClass('show');
  var index = 0;
  function nexNum() {
    num[index].style.display = 'none';
    $(num[index]).removeClass('show');
    index = (index + 1) % num.length;
    num[index].style.display = 'initial';
    $(num[index]).addClass('show');
  }

  function prevNum() {
    num[index].style.display = 'none';
    $(num[index]).removeClass('show');
    index = (index - 1 + num.length) % num.length;
    num[index].style.display = 'initial';
    $(num[index]).addClass('show');
  }
</script>
