    <!-- section advertisements -->
    <div class="modal-home">
        <div class="modal-home-trailer">
            <a class="btn-home-close" ><i class="fal fa-times-circle"></i></a>
            <div class="content-video-trailler">
                <iframe id="trailer" class="trailer" frameborder="0" src="https://www.youtube.com/embed/<%= ranking?.trailer %>?enablejsapi=1" allowfullscreen="true" ></iframe>
            </div>
        </div>
    </div>
    <section class="section--advertisement">
        <div class="background__home">
            <div class="bg_home"></div>
            <div class="bg_advertis"></div>
        </div>
        <div class="content__section">
            <div class="content__advertisement container">
                <h3>Top Phim Trong Tuần</h3>
                <div class="content__movie">
                    <div class="card-top">
                        <div class="card-img">
                            <img src="http://localhost:3000/api/image/<%= ranking?.movieId %>/1" alt="">
                        </div>
                    </div>
                    <div class="info-content">
                        <h3><%= ranking?.movieName %></h3>
                        <ul class="group__home-film">
                            <li class="group-film"> 
                                <label class="group__title" for="">Đạo diễn</label>
                                <span><%= ranking?.directors %></span>
                            </li>
                            <li class="group-film"> 
                                <label class="group__title" for="">Diễn viên</label>
                                <span><%= ranking?.mainActor %></span>
                            </li>
                            <li class="group-film"> 
                                <label class="group__title" for="">Thể loại</label>
                                <span><%= ranking?.category %></span>
                            </li>
                            <li class="group-film"> 
                                <label class="group__title" for="">Thời lượng</label>
                                <span><%= ranking?.time %> phút</span>
                            </li>
                            <li class="group-film"> 
                                <label class="group__title" for="">Đánh giá</label>
                                <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></span>
                            </li>
                            <li class="group-film" style="padding: 0;">
                                <a href= "movie/<%= ranking?.movieId %>?movie=true" class="btn btn-success" style="color: #fff;">Mua vé ngay</a>
                                <button class="btn btn-success btn-modal" style="margin-left: 10px;">Xem trailer</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="content__describe">
            <div class="container">
                <h5 style="color: #54ab35; text-transform: uppercase; font-weight: 600;">Chi Tiết</h5>
                <p><%= ranking?.describe %></p>
               
            </div>
        </div>
    </section>
    <!-- Movie Schedule -->
    <section id="latest">
        <div class="js__list_1" id="list_film_1">
            <div class="title-product">
                <h3 id="list_film_pdc" class="btn-film1 btn-view active">Phim Đang Chiếu</h3>
            </div>
            <ul id="autoWidth" class="cs-hidden">
                <% if(list_film_hdc.length > 0) { %>
                <% list_film_hdc.forEach(item => {  %> 
                    <li class="<%= item.movieId %>">
                         <div class="latest-box">
                             <div class="latest-b-img">
                                 <img src="<%= item.poster %>" alt="">
                             </div>
                             <div class="content">
                                 <div class="contentBx">
                                     <h3><%= item.movieName %><br><span><%= item.specific %></span></h3>
                                     <p><%= item.premiereDate %> -> <%= item.endDate %></p>
                                 </div>
                             </div>
                             <div class="btn-card">
                                <a href="movie/<%= item.movieId %>?movie=true" class="btn">Mua vé</a>
                             </div>
                         </div>
                     </li>
                 <% }) %>   
                 <% } else {%>
                    <li class="item-null">
                    </li>
                <% } %>   
            </ul>
        </div>
        <div class="js__list_2" id="list_film_2">
            <div class="title-product">
                <h3 id="list_film_ccs" class="btn-film2 btn-view active">Movie Coming Soon</h3>
            </div>
          <ul id="autoWidth2" class="cs-hidden">  
            <% if(list_film_cmc.length > 0) { %>      
              <% list_film_cmc.forEach(item => {  %> 
                <li class="<%= item.movieId %>">
                     <div class="latest-box">
                         <div class="latest-b-img">
                             <img src="<%= item.poster %>" alt="">
                         </div>
                         <div class="content">
                             <div class="contentBx">
                                 <h3><%= item.movieName %><br><span><%= item.specific %></span></h3>
                                 <p>Khởi chiếu: <%= item.premiereDate %></p>
                             </div>
                         </div>
                         <div class="btn-card">
                             <a href="movie/<%= item.movieId %>?movie=false" class="btn">Xem chi tiết</a>
                         </div>
                     </div>
                 </li>
             <% }) %>   
             <% } else {%>
                <li class="Item-null">
                </li>
            <% } %>   
          </ul>
        </div>  
    </section>
    <!-- banner promotion -->
    <section class="section-promotion">
        <div class="promotion-slider">
         <!-- fade css -->
         <div class="myslider">
             <img src="image/banner-1.jpg" style="width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-2.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-3.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-4.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-5.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         <!-- onclick js -->
         <a class="btn-prev" onclick="plusSlides(-1)" style="color:  #54ab35;">&#10094;</a>
         <a class="btn-next" onclick="plusSlides(1)" style="color: #54ab35;">&#10095;</a>
         
         <div class="dotsbox" style="text-align:center">
             <span class="dot" onclick="currentSlide(1)"></span>
             <span class="dot" onclick="currentSlide(2)"></span>
             <span class="dot" onclick="currentSlide(3)"></span>
             <span class="dot" onclick="currentSlide(4)"></span>
             <span class="dot" onclick="currentSlide(5)"></span>
         </div>
         <!-- /onclick js -->
         <script>
             var array = document.querySelectorAll('.myslider');
         </script>
     </div>
     </section>
     <script src="js/home.js"></script>
     <script src="js/api/apiHomepage.js"></script>
     <script>
         $('.bg_advertis').css({
                'background': `url(http://localhost:3000/api/image/<%- ranking?.movieId %>/1) no-repeat`,
                'width' : '60%',
                'height' : '100%',
                'background-size' : 'cover',
                'position' : 'relative',
                'transition' : '.5s',
                });

        var modalBtn = document.querySelector('.btn-modal');
        var modalBg = document.querySelector('.modal-home');
        var closeBtn = document.querySelector('.btn-home-close');

        function playAllYouTubeVideos() { 
            var iframes = document.querySelectorAll('iframe');
                Array.prototype.forEach.call(iframes, iframe => { 
                    iframe.contentWindow.postMessage(JSON.stringify({ event: 'command', 
                func: 'playVideo' }), '*');
            });
        }

        function stopAllYouTubeVideos() { 
            var iframes = document.querySelectorAll('iframe');
                Array.prototype.forEach.call(iframes, iframe => { 
                    iframe.contentWindow.postMessage(JSON.stringify({ event: 'command', 
                func: 'stopVideo' }), '*');
            });
        }

        window.onclick = function(event) {
            if (event.target == modalBg) {  
                modalBg.classList.remove('bg-active');
                stopAllYouTubeVideos();
            }
        }

        modalBtn.addEventListener('click', function() {
            modalBg.classList.add('bg-active');
            playAllYouTubeVideos();
        })

        closeBtn.addEventListener('click', function() {
            modalBg.classList.remove('bg-active');
            stopAllYouTubeVideos();
        })
        
     </script>