
 
    <!-- section advertisements -->
    <section class="section--advertisement">
        <div class="background-advertisement">
            <div id="stars"></div>
            <div id="stars2"></div>
            <div id="stars3"></div>
        </div>
        <div class="content-advertisement" id="content-advertisement">
            
        </div>
        <div class="content-poster" id="content-poster">
        </div>
    </section>
    <!-- Movie Schedule -->
    <section id="latest">
        <div class="js__list_1" id="list_film_1">
            <div class="title-product">
                <h3 id="list_film_pdc" class="btn-film1 btn-view active">Phim Đang Chiếu</h3>
            </div>
            <ul id="autoWidth" class="cs-hidden">
                <% if(list_film_hdc.length > 0) { %>
                <% list_film_hdc.forEach(item => {  %> 
                    <li class="<%= item.movieId %>">
                         <div class="latest-box">
                             <div class="latest-b-img">
                                 <img src="<%= item.poster %>" alt="">
                             </div>
                             <div class="content">
                                 <div class="contentBx">
                                     <h3><%= item.movieName %><br><span><%= item.specific %></span></h3>
                                     <p><%= item.premiereDate %> -> <%= item.endDate %></p>
                                 </div>
                             </div>
                             <div class="btn-card">
                                 <a href="#" class="btn">Mua vé</a>
                             </div>
                         </div>
                     </li>
                 <% }) %>   
                 <% } else {%>
                    <li class="item-null">
                    </li>
                <% } %>   
            </ul>
        </div>
        <div class="js__list_2" id="list_film_2">
            <div class="title-product">
                <h3 id="list_film_ccs" class="btn-film2 btn-view active">Movie Coming Soon</h3>
            </div>
          <ul id="autoWidth2" class="cs-hidden">  
            <% if(list_film_cmc.length > 0) { %>      
              <% list_film_cmc.forEach(item => {  %> 
                <li class="<%= item.movieId %>">
                     <div class="latest-box">
                         <div class="latest-b-img">
                             <img src="<%= item.poster %>" alt="">
                         </div>
                         <div class="content">
                             <div class="contentBx">
                                 <h3><%= item.movieName %><br><span><%= item.specific %></span></h3>
                                 <p>Khởi chiếu: <%= item.premiereDate %></p>
                             </div>
                         </div>
                         <div class="btn-card">
                             <a href="#" class="btn">Xem chi tiết</a>
                         </div>
                     </div>
                 </li>
             <% }) %>   
             <% } else {%>
                <li class="Item-null">
                </li>
            <% } %>   
          </ul>
        </div>  
    </section>
    <!-- banner promotion -->
    <section class="section-promotion">
        <div class="promotion-slider">
         <!-- fade css -->
         <div class="myslider">
             <img src="image/banner-1.jpg" style="width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-2.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-3.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-4.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         
         <div class="myslider">
             <img src="image/banner-5.jpg" style="background-size:cover; width: 100%; height: 100%;">
         </div>
         <!-- onclick js -->
         <a class="btn-prev" onclick="plusSlides(-1)" style="color:  #54ab35;">&#10094;</a>
           <a class="btn-next" onclick="plusSlides(1)" style="color: #54ab35;">&#10095;</a>
         
         <div class="dotsbox" style="text-align:center">
             <span class="dot" onclick="currentSlide(1)"></span>
             <span class="dot" onclick="currentSlide(2)"></span>
             <span class="dot" onclick="currentSlide(3)"></span>
             <span class="dot" onclick="currentSlide(4)"></span>
             <span class="dot" onclick="currentSlide(5)"></span>
         </div>
         <!-- /onclick js -->
         <script>
             var array = document.querySelectorAll('.myslider');
         </script>
     </div>
     </section>
     <script src="js/home.js"></script>
     <script src="js/api/apiHomepage.js"></script>
     <script src="js/toastmesage.js"></script>
     <script src="js/validateform.js"></script>

     <script>
         document.addEventListener('DOMContentLoaded', function () {
            callApiHomepage();
         })
     </script>
     <% if(!currentUser) {%>
        <script>
            var error = `<%= error %>`;
            document.addEventListener('DOMContentLoaded', function () {
               
                Validator ({
                    form: '#form-login',
                    formGroupSelector: '.form-group',
                    errorSelector: '.form-message',
                    rules: [
                        Validator.isRequired('#email', 'Email không được trống!'),
                        Validator.isEmail('#email'),
                        Validator.isRequired('#password', 'Mật khẩu không được trống!'),
                        Validator.minLength('#password', 8),
                    ]
                    });
                  
                    if(error === 'false')
                    {
                        toast({
                            title: `<%- title_toast %>`,
                            message: `<%- message %>`,
                            type: `<%- type %>`,
                            duration: 3000
                        });
                    }
                    if(error === 'true')
                    {
                        toast({
                            title: `<%- title_toast %>`,
                            message: `<%- message %>`,
                            type: `<%- type %>`,
                            duration: 3000
                        });
                    }
                });
           
        </script>
        <% } %>