
<section class="movie-detail">
    <!-- modal Trailer -->
    <div class="modal-bg">
        <div class="modal-trailer">
            <a class="btn-close" ><i class="fal fa-times-circle"></i></a>
            <div class="content-video-trailler">
                <iframe id="trailerIframe" class="trailerIframe" frameborder="0" src="https://www.youtube.com/embed/<%= obData.trailer %>?enablejsapi=1" allowfullscreen="true" ></iframe>
            </div>
        </div>
    </div>
        <div class="backgroun-detail">
            <div class="bg"></div>
            <div class="bg__detail"></div>
        </div>
        <div class="container">
        <div class="movie__title">
            <a href="/" style="text-decoration: none;"><h3>Trang Chủ</h3></a>
            <h4> &#10147; <%= obData.movieName %></h4>
        </div>
        <div class="movie__content">
            <div class="movie__slider-poster">
                <div class="promotion-slider">
                    <!-- fade css -->
                    <div class="myslider">
                        <img src="<%= obData.poster1 %>" style="background-size:cover; width: 100%; height: 100%;">
                    </div>
                    <div class="myslider">
                        <img src="<%= obData.poster2 %>" style="background-size:cover; width: 100%; height: 100%;">
                    </div>
                    <div class="myslider">
                        <img src="<%= obData.poster3 %>" style="background-size:cover;  width: 100%; height: 100%;">
                    </div>
                    <div class="myslider">
                        <img src="<%= obData.poster4 %>" style="background-size:cover; width: 100%; height: 100%;">
                    </div>
                    <!-- onclick js -->
                    <a class="btn-prev" onclick="plusSlides(-1)" style="color:  #54ab35;">&#10094;</a>
                      <a class="btn-next" onclick="plusSlides(1)" style="color: #54ab35;">&#10095;</a>
                    
                    <div class="dotsbox" style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                    </div>
                    <!-- /onclick js -->
                    <script>
                        var array = document.querySelectorAll('.myslider');
                    </script>
                </div>
            </div>
            <div class="movie__info--film">
                <h4 class="film--name"><%= obData.movieName %> <%= obData.specific ? `(${obData.specific})` : '' %></h4>
                <p class="film--desc"><%= obData.describe.replace('br', '') %></p>
                <ul class="group__info-film">
                    <li class="group-film"> 
                        <label class="group__title" for="">Phân loại</label>
                        <p>C18 - PHIM DÀNH CHO KHÁN GIẢ TỪ 18 TUỔI TRỞ LÊN</p>
                    </li>
                    <li class="group-film"> 
                        <label class="group__title" for="">Đạo diễn</label>
                        <span><%= obData.directors %></span>
                    </li>
                    <li class="group-film"> 
                        <label class="group__title" for="">Diễn viên</label>
                        <span><%= obData.mainActor %></span>
                    </li>
                    <li class="group-film"> 
                        <label class="group__title" for="">Thể loại</label>
                        <span><%= obData.category %></span>
                    </li>
                    <li class="group-film"> 
                        <label class="group__title" for="">Khởi chiếu</label>
                        <span><%= obData.premiereDate %></span>
                    </li>
                    <li class="group-film"> 
                        <label class="group__title" for="">Thời lượng</label>
                        <span><%= obData.time %> phút</span>
                    </li>
                    <li class="group-film"> 
                        <label class="group__title" for="">Ngôn ngữ</label>
                        <span>Phụ đề tiếng Việt</span>
                    </li>
                </ul>
                <div class="group__button">
                    <a style="color: #fff;" class="btn btn-success btn-modal">Xem Trailer</a>
                    <a style="color: #fff;" class="btn-submit btn btn-success" data-toggle="modal" data-target="#modal__book-tickets">Mua vé</a>
                </div>
            </div>
        </div>
      </div>

      <style>
        .modal-header, .modal-body, .modal-footer {
            padding:9px 15px;
            border-bottom: 1px solid #54ab35;
            background-color: #121825;
            color: #54ab35;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .custom-select {
            background: #121825;
            color: #a6b2c9;
        }
        </style>

      <form method="POST">
        <div class="modal__book-tickets modal fade" id="modal__book-tickets" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog__toupcard modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: transparent;">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Đặt Vé Xem Phim</h5>
                <a type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #a6b2c9;">
                    <p aria-hidden="true">&times;</p>
                </a>
                </div>
                <div class="modal-body book-tickets__content" style="border-bottom: none;">
                    <div class="form__info">
                        <h3 style="display: flex; justify-content: center;">Thông Tin Đặt Vé Online</h3>
                        <div class="form-group">
                            <label>Khu Vực</label>
                            <div class="area__item">
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Rạp Phim</label>
                            <div class="cinema__item">
                               
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Suất chiếu</label>
                            <div class="showtime__item">
                            </div>
                          </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                <button type="button" class="btn-booking btn btn-primary">Đặt Vé</button>
                </div>
            </div>
            </div>
        </div>
    </form>
</section>
<script src="../js/home.js"></script>
<script src="../js/toastmesage.js"></script>
<script src="../js/header.js"></script>
<script>
    

   document.addEventListener('DOMContentLoaded', (event) => {
        const areaItem = document.querySelector('.area__item');
        const cinemaItem = document.querySelector('.cinema__item');
        const showtimeItem = document.querySelector('.showtime__item');

        function GetURLParameter(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }

        if(GetURLParameter('movie') === 'false') {
            $('.btn-submit').hide();
        }

        fetch(`http://localhost:3000/movie/api/<%= obData.idMovies %>`)
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                $('.backgroun-detail .bg__detail').css({
                    'background': `url(http://localhost:3000/api/image/<%= obData.idMovies %>/1) no-repeat`,
                    'width' : '60%',
                    'height' : '100%',
                    'background-size' : 'cover',
                    'position' : 'relative',
                })

                $('.film--desc').text(truncate($('.film--desc').text(), 300))
                function truncate(str, n){
                    return (str.length > n) ? str.substr(0, n-1) + '. . .' : str;
                };


                var htmls_distr = data.districts.map(function(db) {
                    return `<option value="${db.id}">${db.nameDistr}</option>`;
                })
                areaItem.innerHTML = `<select class="custom-select select__area">
                                        <option value="" selected>-- Choose Area --</option>
                                        ${htmls_distr.join('')}
                                    </select>`

                var show_item = '';
                var cinema_item = '';
                data.showTimes.forEach(item => {
                    if(item.idShow.length > 1) {
                        var showItems = item.idShow.map(function(db, index) {
                            console.log(db);
                            return `<option idmovie=${item.idMovies} data-filler="${item.idCinema}" value="${db}">${item.time.startTime[index]} (${item.time.startDate[index].substring(0,10)})</option>`;
                        })
                        show_item += showItems.join('');
                    }
                    else
                    {
                        show_item += `<option idmovie=${item.idMovies} data-filler="${item.idCinema}" value="${item.idShow[0]}">${item.time.startTime[0]} (${item.time.startDate[0].substring(0,10)})</option>`;
                    }
                    cinema_item += ` <option data-filler="${item.idDistr}" value="${item.idCinema}">${item.cinemaName}</option>` 
                })
                cinemaItem.innerHTML = ` <select class="custom-select select__cinema" id="select__cinema">
                                            <option value="" data-filler="" selected>-- Choose Cinema --</option>
                                            ${cinema_item};
                                        </select>`
                                        
                showtimeItem.innerHTML = ` <select class="custom-select select__showtime" id="select__showtime">
                                    <option value="" data-filler="" selected>-- Choose Show Time --</option>
                                    ${show_item}
                                </select>`;

                

                $('#select__cinema option').hide();
                $('#select__cinema option[selected]').show();

                $('#select__showtime option').hide();
                $('#select__showtime option[selected]').show();

                $( ".select__area" ).change(function() {
                    $('#select__cinema').prop('selectedIndex',0);
                    $('#select__showtime').prop('selectedIndex',0);
                    $('#select__showtime option').hide();
                    $('#select__showtime option[selected]').show();
                    
                    var idArea = $(".select__area option:selected").val();
                    $('#select__cinema option').each(function () {
                        var val1 = $(this).attr('data-filler');
                        if(val1 === idArea || val1 === "")
                        {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    });
                });

                $( ".select__cinema" ).change(function() {
                    $('#select__showtime').prop('selectedIndex',0);
                    var idCinema = $(".select__cinema option:selected").val();
                    $('#select__showtime option').each(function () {
                        var val2 = $(this).attr('data-filler');

                        if(val2 === idCinema || val2 === "")
                        {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    });
                }); 

                $('.btn-booking').click(function() {
                    var areaOption = $('.select__area option:selected').val()
                    var cinemaOption = $('.select__cinema option:selected').val()
                    var showTimeOption = $('.select__showtime option:selected').val();
                    if(areaOption)
                    {
                        if(cinemaOption) {
                            if(showTimeOption) {
                                var idMovie = $('.select__showtime option:selected').attr('idmovie');
                                var currentUser = '<%= currentUser?.code %>';
                                if(currentUser) {
                                    $(location).attr('href', `/bookings?idshow=${showTimeOption}&idmovie=${idMovie}&idcinema=${cinemaOption}`);
                                }
                                else
                                {
                                    $(location).attr('href', 'http://localhost:3000/reg');
                                }
                                
                            }
                            else
                            {
                                toast({
                                    title: "Notification!",
                                    message: "Bạn chưa chọn suất chiếu!",
                                    type: "info",
                                    duration: 3000
                                });
                            }
                        }
                        else{
                            toast({
                                title: "Notification!",
                                message: "Bạn chưa chọn cụm rạp phim!",
                                type: "info",
                                duration: 3000
                            });
                        }
                    }
                    else
                    {
                        toast({
                            title: "Notification!",
                            message: "Bạn chưa chọn khu vực!",
                            type: "info",
                            duration: 3000
                        });
                    }
                })                   
            })
            .catch(function(err){
                console.log(err);
            });
    })
   


    var modalBtn = document.querySelector('.btn-modal');
    var modalBg = document.querySelector('.modal-bg');
    var closeBtn = document.querySelector('.btn-close');

    window.onclick = function(event) {
        if (event.target == modalBg) {  
            modalBg.classList.remove('bg-active');
            stopAllYouTubeVideos();
        }
    }

    modalBtn.addEventListener('click', function() {
        modalBg.classList.add('bg-active');
        playAllYouTubeVideos();
    })

    closeBtn.addEventListener('click', function() {
        modalBg.classList.remove('bg-active');
        stopAllYouTubeVideos();
    })

    var playAllYouTubeVideos = () => { 
    var iframes = document.querySelectorAll('iframe');
        Array.prototype.forEach.call(iframes, iframe => { 
            iframe.contentWindow.postMessage(JSON.stringify({ event: 'command', 
        func: 'playVideo' }), '*');
        });
    }

    var stopAllYouTubeVideos = () => { 
    var iframes = document.querySelectorAll('iframe');
        Array.prototype.forEach.call(iframes, iframe => { 
            iframe.contentWindow.postMessage(JSON.stringify({ event: 'command', 
        func: 'stopVideo' }), '*');
        });
    }

</script>
